body {
    background-color: white;
}

/* header */

/* #header {
    display: flex;
    flex-direction: row;
    background-color: grey;
    padding: 5px;
    height: 80px;
} */

/* bodySection */

/* #bodysection {
    background-color: skyblue;
    padding: 5px;
    height: 250px;
} */

.error-message {
    color: red;
    font-size: 11px;
}

/* contactSection */

#contactsection {
    background-color: #fff;
    height: 100px;
    padding: 5px;
}

#myBtn {
    padding: 4px;
    border-radius: 5px;
    min-width: 115px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* imageSection */

#imagesection {
    background-color: #f3f3f3;
    padding: 5px;
    min-height: 100px;
    padding: 20px;
}

#search {
    position: relative;
    left: 45%;
    padding: 4px;
    border-radius: 5px;
}

#imageResult {
    /* display: flex;
    justify-content: space-between; */
}

img {
    width: 300px;
    height: 300px;
}

/* footerSection */

#footersection {
    background-color: white;
    padding: 5px;
    height: 250px;
}